@media(max-width:940px) {
    main {
        max-width: 100%;
        padding: 0px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .about {
        min-width: 90vw;
        margin: 10px 0;
        border-left: 2px solid var(--danger);
        border-right: 2px solid var(--danger)
    }

    .content {
        min-width: 90vw;
        border-left: 2px solid var(--danger);
        border-right: 2px solid var(--danger)
    }

    .content img {
        width: 100%;
    }

    .colegies {
        min-width: 90vw;
        padding: 20px;

    }

}
@media(max-width:600px) {
    :target {
        scroll-margin-top: 330px; 
    }
    main {
        
        font-size: 1.5rem;
    }
    .banner {
        text-align: center;
    }
    .social-icon a>i {
        font-size: 2.5em;
        padding: 10px;
    }
    .about {
        max-width: 90%;
    }
    .about-content{
        padding: 20px;
        text-align: justify;
    }
    .Certificates ul{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 15px;
    }

    .avatar-img img {
        max-width: 50%;
        border-radius: 500px;
    }
    .content {
        min-width: 90vw;
        margin: 10px 0;
     
    }

    .content-project{
        padding: 20px;
        text-align: justify;
    }
    

    .content img {
        width: 100%;
    }

    .project-links {
        flex-direction: column;

    }

    .project-links button {
        padding: 1.3rem;
        font-size: 1.3rem;
        text-transform: uppercase;

    }

    .colegies {
        min-width: 90vw;
        margin: 10px 0;
        padding: 10px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }
.form {
    width: 100%;
}

.figure-contact {
    width: 100%;
}


.btn-action button {
    width: 100%;
    height: 50px;
    text-transform: uppercase;

}
}