.colegies {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 45px;
    width: 90%;
    background-color: var(--dark-secondary);
    border-radius: 15px;
    color: #fff;
    border-left: 2px solid var(--danger);
    border-right: 2px solid var(--danger)
}
.colegies h3 {
    text-align: center;
}
.course {
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-bottom: 2px solid var(--dark-light)
}
.course-info {
    display: flex;
    padding: 25px;
    flex-direction: column;
    gap: 25px;
}
.course-info p {
    text-align: justify;
}
.curse-tumbnail {
    margin: 0 auto;
}

.curse-tumbnail img {
    width: 200px;
}